/* https://via.placeholder.com/200 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* resets */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primery-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--primery-text-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

/* utility class */

.small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.flex {
    display: flex;
    align-items: center;
}

.hover-link {
    color: var(--primery-text-color);
    transition: 0.2s ease-out;
}

.hover-link:hover {
    color: var(--accent-color);
}

.primary-button {
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.primary-button:hover {
    background-color: var(--accent-color-dark);
}

.secondary-button {
    border: 0.5px solid var(--secondary-text-color);
    font-weight: 700;
    border-radius: 6px;
    padding: 12px 24px;
    transition: 0.2s ease-out;
    color: var(--primery-text-color);
}

.secondary-button:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

/* top banner  */

.top-banner {
    background-image: url("/img/banner-right.png");
    background-color: #4fb3d4;
    background-size: 300px;
    background-repeat: repeat;
}

.banner-text {
    color: white;
    padding: 15px 30px;
    text-align: center;
}

/* nav bar  */
.main-nav {
    margin-top: 20px;
    justify-content: space-between;
}

.company-logo img {
    width: 200px;
}

.nav-links {
    flex-basis: 730px;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
}

header {
    padding: 50px var(--padding-inline-section);
}

.header-section {
    justify-content: center;
    gap: 50px;
}

.header-left {
    width: 40vw;
}

.header-left h1 {
    margin-top: 20px;
}

.Getting-Started-btn {
    margin-top: 20px;
}

.header-right img {
    width: 600px;
}

.companies-header {
    text-align: center;
    margin-block: 30px;
    color: var(--primery-text-color);
}

.logos {
    justify-content: space-between;
    gap: 10px;
}

.logo {
    height: 50px;
    margin-inline: 30px;
}

/* features-section */

.features-section {
    padding: 80px var(--padding-inline-section) 0;
    background: url("/img/asset\ 29.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.features-header {
    text-align: center;
}

.features-header h2 {
    margin-bottom: 20px;
}

.freature-card {
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.features-area {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 50px;

}

.feature-card-outter-box {
    padding: 10px;
    max-width: 30%;
    background-color: rgba(255, 255, 255, 0.916);
    box-shadow: 0 0 3px var(--primery-text-color);
    border-radius: 15px;


}

/* big-feature-section */

.big-feature-section {
    padding: 40px var(--padding-inline-section) 0;
}

.big-feature-container {
    gap: 25px;
}

.feature-img img {
    width: 100%;
}

.feature-desc {
    flex-direction: column;
    align-items: flex-start;
}

/* examples-section */

.examples-section {
    padding: 40px var(--padding-inline-section) 0;
    background: url("img/asset\ 30.svg");
    background-repeat: no-repeat;
}

.example-header {
    text-align: center;
}

.example-header h2,
a {
    margin-bottom: 20px;
}


.example-area {
    padding-top: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.examples-card {
    max-width: 250px;
    height: 300px;
    padding: 15px;
    border-radius: 6px;
}

.examples-card {
    align-items: flex-end;
}
.examples-card:hover{
    box-shadow: 0 0 10px var(--primery-text-color);
}

.examples-card h3 {
    color: white;
}

.bg-img1 {
    background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),url("/img/ways.jpg");
    background-size: cover;
}
.bg-img2 {
    background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),url("/img/todo.jpg");
    background-size: cover;
}
.bg-img3 {
    background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),url("/img/audience.jpg");
    background-size: cover;
}
.bg-img4 {
    background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),url("/img/map.png");
    background-size: cover;
}

/* cta-section */

.cta-section{
    background:url("/img/asset\ 28.png");
    background-color: var(--primery-text-color);
    padding: 70px;
}
.cta-header{
    flex-direction:column;
    gap: 20px;
}
.cta-header h2,h4{
    color: white !important;
}

.subfooter{
    background-color: #b9cde4;
    padding:20px var(--padding-inline-section) 0;
}
.subfooter-container{
    justify-content: center;
    gap: 30px;
    font-weight: 500;
}